.icon--home {
	background: url('../images/home.svg') center center no-repeat;
	background-size: cover;
    display: block;
	height: 1.5rem;
	margin: 0 auto;
    width: 1.9375rem;
}

.icon--checkmark {
	background: url('../images/checkmark.svg') center center no-repeat;
	background-size: cover;
    display: block;
	height: 2.5rem;
	margin: 0 auto;
	width: 2.5rem;
}