img {
	max-width: 100%;
	height: auto;
}

.image {
	max-height: 100%;
	display: block;
}

.image--align-center {
	margin: 0 auto;
}


@media (min-width: 40em) {

	.image--align-right {
		float: right;
		margin: 0 0 1.5em 1.5em;
	}
}